.login-form {
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: center;
}

label {
    text-align: left;
}

.titre {
    text-align: center;
    color: black;
    position: absolute;
    top: 10%;
    font-size: 1.3em;
}

.login-form input {
    font-size: x-large;
    margin-bottom: 0.8em;
    border: 2px solid gray
}

.login-form a {
    text-align: left;
    margin-bottom: 0.8em;
    border-radius: 15%;
}

.login-form .submit-container {
    width: 100%;
    position: relative;
}

.login-form .submit-button {
    position: absolute;
    cursor: pointer;
    left: 30%;
    width: 120px;
    height: 50px;
    border: 2px solid gray;
    background-color: #282c34;
    appearance: none;
    transition: background-color 0.4s
}

.login-form .submit-button:hover {
    background-color: #adaaaa;
}

.login-form .submit-button:disabled {
    background-color: #adaaaa;
}

.login-form a {
    font-size: .9em;
    transition: color 0.2s ease-in;
}

.login-form a:hover {
    color: red;
}

.login-form span {
    display: none;
}