# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.webm

# dependencies
/my-client/node_modules
/my-client/.pnp
/my-client/src/shared/assets/animated/*.mp4
/my-client/pnp.js

/my-server/node_modules
/my-server/.pnp
/my-server/pnp.js
/my-server/.env

# testing
/my-client/coverage

# production
/my-client/build

# misc
/my-client/DS_Store
/my-client/env.local
/my-client/env.development.local
/my-client/env.test.local
/my-client/env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
