
.surveillance-section {
    margin-top: 4%;
}

.cam-stream {
    position: relative;
    width: 720px;
    height: 480px;
}

@media screen and (max-width: 768px) {
    .surveillance-section {
        flex-direction: column-reverse;
        column-count: 1;
        margin-top: 10%;
    }
}