
.surveillance-section {
    display: flex;
    position: relative;
}

@media screen and (max-width: 720px) {
    .surveillance-section {
        flex-direction: column-reverse;
        column-count: 1;
    }
}