section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (max-width: 720px) {
    section {
        flex-direction: column;
        column-count: 1;
    }
}