.table-container {
    width: 100%;
    height: 45%;
    background-color: #121117f5;
    border-radius: 2px;
    position: relative;
    overflow-y: scroll;
}

.table-container p {
    width: 25%;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
}

.table-header {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    top: 0;
    background: gray;
}

.table-row {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.table-row span {
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.table-row span:hover {
    background-color: gray;
}