
.loader-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  margin: 0 10px;
}
.d1 {
  animation: loader infinite 0.3s alternate;
}
.d2 {
  animation: loader infinite 0.3s 0.05s alternate;
}
.d3 {
  animation: loader infinite 0.3s 0.1s alternate;
}

@keyframes loader {
  100% {
    transform: translateY(-30px)
  }
}