<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./template.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Template</title>
</head>
<body>
    <nav>
        <a href="#">Surveillance</a>
        <a href="#">Logs du serveur</a>
    </nav>
    <section>
        <div class="video-container">
            <video controls>
                <p>contenu video</p>
            </video>
            <div class="info">
                <div>
                    Nom:<br>
                    Date:<br>
                    Salle:<br>
                </div>

                <div>
                    IP:<br>
                    Taille:<br>
                    résolution:<br>
                </div>
            </div>
        </div>
        <div class="tree-container">
            <div class="tree">
                <p>contenu</p>
            </div>
            <div class="button-container">
                <button>
                    <i class="material-icons">delete</i>
                </button>
                <button>
                    <i class="material-icons">download</i>
                </button>
            </div>
        </div>
    </section>
</body>
</html>