nav {
    display: flex;
    position: absolute;
    top: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    background: #000000;
    width: 100%;
}

nav:not(:first-of-type) {
    margin-top: 200px;
}

nav a {
    color: #f1f1f1;
    position: relative;
    text-decoration: none;
    font-size: 0.75em;
    text-transform: uppercase;
    margin: 0 10px;
    transition: font-size 0.5s;
}

nav a:hover {
    font-size: 0.9em;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #adaaaa;
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

body {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.disconnect-icon.container {
    position: absolute;
    justify-content: center;
    width: fit-content;
}

.disconnect-icon {
    position: absolute;
    right: 5px;
    cursor: pointer;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.disconnect-icon:hover {
    width: 30px;
    height: 25px;
} 

.logo-icon.container {
    position: absolute;
    justify-content: center;
    width: 40px;
}

.logo-icon {
    position: absolute;
    left: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out
}

.logo-icon:hover {
    width: 55px;
    height: 55px;
}