.icon-container {
    width: 30px;
    height: 30px;
    font-size: 0.5em;
    padding: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    right: 0
}

.icon-container:hover {
    background: gray;
    border-radius: 30px;
}