.icon-container {
    width: 45px;
    height: 45px;
    padding: 3px;
    cursor: pointer;
    align-self: center;
    right: 0
}

.icon-container:hover {
    background: rgba(#510f0f, #f2b4b4, #331515, 1);
}