.tree {
    padding: 0 10px;
    max-height: 80%;
}

.tree div {
    margin-top: 5px;
}

img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

div.niveau-1 {
    width: 100%;
    text-align: left;
}

div.niveau-2 {
    width: 100%;
    padding-left: 15%;
}

div.niveau-3 {
    width: 100%;
    padding-left: 25%;
}