.logs-video-container {
    display: flex;
    padding: 10px 10px 10px 10px;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-items: center;
}

.logs-video-container video {
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 2%;
    height: 70%;
    object-fit: contain;
}

.logs-video-container .info {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background: #333333;
    border-radius: 0.5%;
    width: 100%;
}
.logs-video-container .info div {
    width: 50%;
}

.logs-video-container .info div p {
    text-align: left;
    font-size: 0.7em;
}

@media screen and (max-width: 720px) {
    .logs-video-container {
        width: 100%;
    }

}