.container {
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.tree {
    position: relative;
    height: 530px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid;
    border-radius: 2%;;
}

.button-container {
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    padding-bottom: 10px;
}

button {
    border-radius: 30%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: width 0.5s, height 0.5s;
}

button:hover {
    width: 50px;
    height: 45px;
    background-color: #adaaaa;
}

button img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;
    }
}